name: Package and Release

on:
  workflow_call:
    inputs:
      use_self_hosted:
        description: 'Use self-hosted runner instead of GitHub-hosted (default: true)'
        required: false
        type: boolean
        default: true

permissions:
  contents: write
  actions: write

jobs:
  package-and-release:
    runs-on: ${{ inputs.use_self_hosted && 'self-hosted' || 'ubuntu-latest' }}
    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch all tags
        run: git fetch --tags

      - name: Checkout tag
        run: git checkout ${{ github.event.inputs.ref }}

      - name: Package and release
        uses: BigWigsMods/packager@v2
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
